html {
    --main-color: #333333 ;
    --secondary-color: rgb(197, 188, 200);
}
* {
    box-sizing: border-box;
}

body {
    font-family: "Lora", serif;
    margin: 0;
}

.container {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Start Header */

#header {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;

}

#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .container img {
    width: 60px;
    border-radius: 50%;
}

#header .iconDiv {
    width: 50px;
    direction: rtl;
}

#header .menuLine {
    height: 3px;
    background-color: #ebe9db;
    margin-bottom: 5px;
}

#header #moveLine {
    width: 50%;
    transition: 0.3s;
}

#header .menuDiv:hover #moveLine {
    width: 100%;
}

#header .container .menuDiv {
    position: relative;
}

#header .container .menuDiv ul {
    background-color: #ebe9db;
    width: 180px;
    font-size: 20px;
    list-style: none;
    border-radius: 20px;
    padding: 5px 20px;
    box-shadow: 0 0 10px gray;
    position: absolute;
    right: -15px;
    top: 12px;
    display: none;
}

#header .container .menuDiv ul .divider {
    height: 1px;
    background-color: #bab6b6;
}

#header .container .menuDiv ul li {
    text-align: center;
    padding: 10px 35px;
    color: var(--main-color);
    transition: 0.3s;
}

#header .container .menuDiv ul li:hover {
    padding-left: 20px;
    transition: 0.3s;
}

#header .container .menuDiv ul::before {
    content: "";
    width: 0;
    height: 0;
    border: 10px solid;
    border-color: transparent transparent #ebe9db transparent;
    position: absolute;
    top: -20px;
    right: 25px;
}

#header .menuDiv:hover ul {
    display: block;
}

/* End Header */

/* Start Laning */

.landing {
    height: 100vh;
    background-image: url(images/1698616010_S24-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#landingDiv::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    opacity: 0.4;
}

.landing .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing .container .landingText {
    text-align: center;
    z-index: 1;
}

.landing  .container .landingText h1 {
    color: #ebe9db;
    font-size: 85px;
    letter-spacing: 2px;
    margin-bottom: 22px;
    text-shadow: 0px 0px 8px #ebe9db;
}

.landing .container .landingText p {
    color: rgb(197, 188, 200);
    text-shadow: 0px 0px 8px rgb(197, 188, 200);
    font-size: 40px;
    letter-spacing: 3px;
    margin-bottom: 45px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.landing .container .landingText button {
    background-color: #ebe9db;
    box-shadow: 0px 1px 10px #ebe9db;
    color: rgb(176, 163, 180) ;
    font-size: 20px;
    padding: 20px 40px;
    font-weight: 800;
    border: none;   
}


.landing .container .landingText button:hover {
    cursor: pointer;
    background-color: #d6d3c9;
}

#landingDiv .container .centerDiv {
    text-align: center;
    position: relative;
}

@media (max-width: 441px) {
    .landing .container .landingText h1 {
        font-size: 60px;
    }

    .landing .container .landingText p {
        font-size: 30px;
    }
}

/* End landing */

/* Start Services */

#servicesDiv {
    padding: 100px 0px;
}

#servicesDiv .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#servicesDiv .container .service {
    width: 300px;
    text-align: center;
}

#servicesDiv .container .service i {
    font-size: 60px;
    color: rgb(197, 170, 208);
}

#servicesDiv .container .service h3 {
    font-size: 30px;
    margin: 10px 0;
}

#servicesDiv .container .service p {
    font-size: 20px;
    color: #000000;
}

/* end services */