html {
    --main-color: #333333 ;
    --secondary-color: white;
}
* {
    box-sizing: border-box;
}

body {
    font-family: "Lora", serif;
    margin: 0;
}

.container {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Start Header */

#header {
    background-color: #cecece;
}

#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .container img {
    width: 60px;
    border-radius: 50%;
}

#header .iconDiv {
    width: 50px;
    direction: rtl;
}

#header .menuLine {
    height: 3px;
    background-color: white;
    margin-bottom: 5px;
}

#header #moveLine {
    width: 50%;
    transition: 0.3s;
}

#header .menuDiv:hover #moveLine {
    width: 100%;
}

#header .container .menuDiv {
    position: relative;
}

#header .container .menuDiv ul {
    background-color: white;
    font-size: 20px;
    list-style: none;
    border-radius: 20px;
    padding: 5px 20px;
    box-shadow: 0 0 10px gray;
    position: absolute;
    right: -15px;
    top: 12px;
    display: none;
}

#header .container .menuDiv ul .divider {
    height: 1px;
    background-color: #bab6b6;
}

#header .container .menuDiv ul li {
    text-align: center;
    padding: 10px 35px;
    color: var(--main-color);
    transition: 0.3s;
}

#header .container .menuDiv ul::before {
    content: "";
    width: 0;
    height: 0;
    border: 10px solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    top: -20px;
    right: 25px;
}

#header .menuDiv:hover ul {
    display: block;
}



/* End Header */