html {
    --main-color: #333333 ;
    --secondary-color: rgb(197, 188, 200);
}
* {
    box-sizing: border-box;
}

body {
    font-family: "Lora", serif;
    margin: 0;
}

.container {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.specialHead {
    font-size: 60px;
    font-weight: 900;
    letter-spacing: normal;
    color: #a0a0a0;
    text-shadow: #bfbfbf 2px 1px 6px;
}

/* Start Header */

#header {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;

}

#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .container img {
    width: 60px;
    border-radius: 50%;
}

#header .iconDiv {
    width: 50px;
    direction: rtl;
}

#header .menuLine {
    height: 3px;
    background-color: #ebe9db;
    margin-bottom: 5px;
}

#header #moveLine {
    width: 50%;
    transition: 0.3s;
}

#header .menuDiv:hover #moveLine {
    width: 100%;
}

#header .container .menuDiv {
    position: relative;
}

#header .container .menuDiv ul {
    background-color: #ebe9db;
    width: 180px;
    font-size: 20px;
    list-style: none;
    border-radius: 20px;
    padding: 5px 20px;
    box-shadow: 0 0 10px gray;
    position: absolute;
    right: -15px;
    top: 12px;
    display: none;
}

#header .container .menuDiv ul .divider {
    height: 1px;
    background-color: #bab6b6;
}

#header .container .menuDiv ul li {
    text-align: center;
    padding: 10px 35px;
    color: var(--main-color);
    transition: 0.3s;
}

#header .container .menuDiv ul li:hover {
    padding-left: 20px;
    transition: 0.3s;
}

#header .container .menuDiv ul::before {
    content: "";
    width: 0;
    height: 0;
    border: 10px solid;
    border-color: transparent transparent #ebe9db transparent;
    position: absolute;
    top: -20px;
    right: 25px;
}

#header .menuDiv:hover ul {
    display: block;
}

/* End Header */

/* Start Laning */

.landing {
    height: 100vh;
    background-image: url(images/1698616010_S24-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#landingDiv::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    opacity: 0.4;
}

.landing .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing .container .landingText {
    text-align: center;
    z-index: 1;
}

.landing  .container .landingText h1 {
    color: #ebe9db;
    font-size: 85px;
    letter-spacing: 2px;
    margin-bottom: 22px;
    text-shadow: 0px 0px 8px #f7f5ea;
}

.landing .container .landingText p {
    color: rgb(197, 188, 200);
    text-shadow: 0px 0px 8px rgb(197, 188, 200);
    font-size: 40px;
    letter-spacing: 3px;
    margin-bottom: 45px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.landing .container .landingText button {
    background-color: #ebe9db;
    box-shadow: 0px 1px 10px #ebe9db;
    color: rgb(176, 163, 180) ;
    font-size: 20px;
    padding: 20px 40px;
    font-weight: 800;
    border: none;   
}


.landing .container .landingText button:hover {
    cursor: pointer;
    background-color: #d6d3c9;
}

#landingDiv .container .centerDiv {
    text-align: center;
    position: relative;
}

@media (max-width: 441px) {
    .landing .container .landingText h1 {
        font-size: 60px;
    }

    .landing .container .landingText p {
        font-size: 30px;
    }
}

/* End landing */

/* Start Services */

#servicesDiv {
    padding: 100px 0px;
    background-color: #fcfaf1;
}

#servicesDiv .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#servicesDiv .container .service {
    width: 300px;
    text-align: center;
    color: #9d9d9d;
}

#servicesDiv .container .service i {
    font-size: 60px;
    margin-bottom: 10px;
    color: rgba(191, 176, 198, 0.96);
    text-shadow: 1px 1px 8px rgb(193, 179, 197);
}

#servicesDiv .container .service h3 {
    font-size: 30px;
    margin: 10px 0;
}

#servicesDiv .container .service p {
    font-size: 20px;
    color: #8b8b8b;
}


/* end services */

/* Start Stories */
#color {
    background-image: linear-gradient(#fcfaf1,#c1c1c1,#fcfaf1);
    padding: 5px;
    
}

#storiesDiv {
    padding: 25px 0;
    background-color: #fcfaf1;

}

#storiesDiv .container {
    text-align: center;
}

#storiesDiv .container > p {
    font-size: 26px;
    margin: 35px 0;
    color: #888888;
}

#storiesDiv .contents {
    display: flex;
}

#storiesDiv .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
}

#storiesDiv .cards .card {
    width: 270px;
    box-shadow: 3px 3px 10px #b5b5b5;
    margin: 8px;
    border-radius: 25px;
    background-color: rgb(244, 244, 244);
}

.cardDetails {
    padding: 0px 8px;
}

.cardDetails p {
    color: #656565;
}

.cardDetails h3 {
    color: #686868;
}

.cardImg {
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: rgb(245, 245, 245);
    padding: 8px;
    min-height: 100px;
}

.cardImg:hover {
    
}

 .cardImg img {
    width: 55%;
    height: 50%;
    margin: 15px;
}

@media (max-width: 767px) {
    .stories .container .contents .cards .card {
        width: 350px;
        margin-bottom: 30px;
    }
}

@media (min-width: 1200px) {
    .stories .container .contents .imgDiv {
        display: flex;
    }
}

/* End Stories */
/*Start contact*/
#contactDiv {
    background-color: #fcfaf1;
}
#contactDiv .container {
    padding: 100px  0;
 
    text-align: center;
}

#contactDiv .container .contact {
    display: flex;
    margin-top: 50px;
}
#contactDiv .container .contact .details {
    margin-right: 50px;
}

#contactDiv .container .contact .details h3 {
    font-size: 25px;
    color: var(--main-color);
}

#contactDiv .container .contact .details p {
    font-size: 22px;
    color: #777;
    margin-top: 15px;
    margin-bottom: 44px;
  
}

#contactDiv .container .contact .details h3 {
    color: #6b536b;
}

#contactDiv .container .contact .form input,textarea{
    background-color: rgb(235, 222, 231);
    border: none;
    width: 100%;
    font-size: 22px;
    padding: 15px 25px;
    margin-bottom: 20px;
    border-radius: 10px;
    outline-color:#8b8b8b ;
}

#contactDiv .container .contact .form .firstRow {
    display: flex;
}

#contactDiv .container .contact .form .firstRow input:nth-child(2){
    margin-left: 10px;
}

#contactDiv .container .contact .form textarea{
    resize: none;
}

#contactDiv .container .contact .form button {
    width: 100%;
    padding: 20px;
    background-color: #bd91ba;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: #faf7ef;
    text-shadow: #fcf9f1 2px 2px 5px;
    transition: 2s;
}


#contactDiv .container .contact .form button:hover {
    cursor: pointer;
    background-color: #a278a3;
    size: 40px;
    transition: 1.5s;
}


/*End contact*/